Source: kwin-effect-focustrack
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: M.Angel Juan <m.angel.juan@gmail.com>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, Juanma Navarro <juanma1980@gmail.com>, Juan Ramon Pelegrina <juapesai@hotmail.com>
Build-Depends: debhelper (>= 11.0),cmake,dh-cmake,g++,extra-cmake-modules,dh-cmake-compat,dh-sequence-cmake,kwin-dev,libkf6configwidgets-dev,dh-cmake-compat(=1),libkf6kcmutils-dev
Standards-Version: 3.9.5
Homepage: https://github.com/lliurex/kwin-focustrack-effect

Package: kwin-effect-focustrack
Architecture: all
Depends: kwin-addons,python3-llxaccessibility
Description: KWin effect for high-visibility focus

